<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Blogs | Mobiklinic</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/aos/aos.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <header id="header" class="fixed-top d-flex align-items-center">

        </div>
        <div class="container d-flex align-items-center justify-content-between">
            <div class="logo">
                <h1 class="text-light"><a href="/"><img src="/img/mobiKlinic.png"></a></h1>
            </div>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="/">Who we are</a></li>
                    <li class="dropdown"><a href="#"><span>What we do</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/about">About</a> </li>
                            <li><a href='img/Mobiklinic 2022 Annual Report.pdf.pdf' target="_blank">2022 Report</a></li>
                            <li><a class="active" href="/team">Team</a></li>
                            <li><a href="/board/advisory">Advisory</a></li>
                            <li><a href="/board/non-executives">Non-Executives</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact">Get in touch</a></li>
                    <li><a class="active" href="/blog">Blog</a></li>
                    <li><a href="/frequently-asked-questions">FAQs</a> </li>

                    <li><a class="mobiklearn" target="_blank" href="https://mobiklearn.com/"><span>Mobiklearn
                            </span></a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->

    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="hero--service" class="d-flex flex-column justify-content-center align-items-center">
            <div class="container" data-aos="fade-left">

                <h1 class="blog-title"> | Blog</h1>
                <h4 class="blog-touch">Want to share your thoughts?</h4>
                <div class="d-flex align-items-center">
                    <a class="getstarted--products" href="/contact"> <span>Get in touch</span></a>
                </div>
            </div>
        </section><!-- End Hero -->

    </main><!-- End #main -->
    <main id="main" data-aos="fade-up">
        <!-- ======= Team Section ======= -->
        <div class="container">
            <div class="description">
                <div class="card-body mb-3">
                    <div class="row">
                        <div class="col">
                            <div class="shadow-sm p-3 mb-5 bg-white rounded">
                                <div class="card">


                                    <div class="row">
                                        <div class="col">
                                            <img src="/img/career.jpg" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">My Impactful Journey in Buikwe</h5>
                                                <h6 class="card-title"><span class="date--author">27th July 2023</span>
                                                    | <span class="date--author">By Daphne Naggayi </span></h6>
                                                <p class="card-text">
                                                    Recently, I had the incredible opportunity to train dedicated
                                                    community health workers in Kiyindi, a rural area in
                                                    Buikwe.<br>
                                                    During my time there, I introduced them to a powerful tool our
                                                    software team had developed, aiming to revolutionize
                                                    healthcare accessibility and effectiveness. This innovative tool
                                                    helps with diagnosing and vaccinating beneficiaries,
                                                    ultimately improving overall healthcare outcomes.<br>
                                                    <br>
                                                    But that's not all! To enhance the process further, we integrated
                                                    <a href='https://www.simprints.com/' target="_blank">Simprints</a>
                                                    biometric technology.<br>
                                                    This cutting-edge solution enables accurate identification and
                                                    enrollment of users, bringing us closer to our mission of
                                                    reaching every person in need.
                                                </p>
                                                <div class="d-flex align-items-center">
                                                    <a class="getstarted--products" href="/impact-blog"> <span>Read more...</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                </section>
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>MobiKlinic Uganda</h3>
                        <p class="description">
                            We are a team of professionals passionate about the right to health. We are revolutionizing
                            last-mile
                            health delivery so
                            as to achieve health equity by democratization and decentralization of health care using a
                            fusion of
                            physical and
                            digital means
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i><a href="/">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i><a href="/about">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i><a href="/contact">Contact us</a></li>
                            <li><i class="bx bx-chevron-right"></i><a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i><a href="/privacy" target="_blank">Privacy
                                    policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            Plot 257 <br>
                            Mawanda Road<br>
                            Kampala, Uganda <br>
                            <strong>Phone:</strong> (+256) 700 218 686<br>
                            <strong>Email:</strong> admin@mobiklinic.com<br>
                        </p>

                        <div class="social-links">
                            <a href="https://mobile.twitter.com/klinicuganda" class="twitter" target="_blank"
                                rel=”noopener”><i class="bi bi-twitter"></i></a>
                            <a href="https://www.facebook.com/mobiklinicUganda/" class="facebook" target="_blank"
                                rel=”noopener”><i class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/mobiklinic/" class="instagram" target="_blank"
                                rel=”noopener”><i class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/mobiklinic/about/" class="linkedin"
                                target="_blank" rel=”noopener”><i class="bi bi-linkedin"></i></a>
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-newsletter">
                        <h4>Our reports</h4>
                        <p>
                            Find more in our yearly report.
                            <a href="#" target="_blank">Find here</a>
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>MobiKlinic Uganda
                        <script>document.write(new Date().getFullYear())</script>
                    </span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/serenity-bootstrap-corporate-template/ -->
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/aos/aos.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/glightbox/js/glightbox.min.js"></script>
    <script src="/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/swiper/swiper-bundle.min.js"></script>
    <script src="/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>

</body>

</html>