<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Board | MobiKlinic Uganda</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.ico" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/aos/aos.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="logo">
                <h1 class="text-light"><a href="/"><img src="/img/mobiKlinic.png"></a></h1>
            </div>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="active" href="/">Who we are</a></li>
                    <li class="dropdown"><a href="#"><span>What we do</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/about">About</a> </li>
                            <li><a href='img/Mobiklinic 2022 Annual Report.pdf.pdf' target="_blank">2022 Report</a></li>
                            <li><a href="/team">Team</a></li>
                            <li><a href="/board/advisory">Advisory</a></li>
                            <li><a href="/board/non-executives">Non-Executives</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact">Get in touch</a></li>
                    <li><a href="/frequency-asked-questions">FAQs</a> </li>

                    <li><a class="mobiklearn" target="_blank" href="https://mobiklearn.com/"><span>Mobiklearn
                            </span></a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="breadcrumb-hero">
                <div class="container">
                    <div class="breadcrumb-hero">
                        <h2>NON EXECUTIVE BOARD MEMBERS</h2>
                        <p>
                            We are aligned by global professionals who guide the growth and governess of
                            Mobiklinic.
                        </p>
                    </div>

                </div>
            </div>
            <div class="container">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>Non-Executive Board Members</li>
                </ol>
            </div>

        </section><!-- End Breadcrumbs -->

        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
            <div class="container" data-aos="fade-up">

                <div class="gallery-slider swiper">
                    <div class="swiper-wrapper align-items-center">


                        <div class="swiper-slide"><a class="gallery-lightbox" href="/img/advisory/gallery-13.gif">
                                <img src="/img/advisory/gallery-13.gif" class="img-fluid" alt=""></a>
                            <span class="names"><strong>Pamela Steele</strong></span><br>
                            <span class="post">Director Pamela Steele Associates</span>
                        </div>
                        <div class="swiper-slide"><a class="gallery-lightbox" href="/img/advisory/gallery-11.gif">
                                <img src="/img/advisory/gallery-11.gif" class="img-fluid" alt=""></a>
                            <span class="names"><strong>Michelle Mackaroff</strong></span><br>
                            <span class="post">Project Director AU-EU Youth Cooperation Hub</span>
                        </div>
                        <div class="swiper-slide"><a class="gallery-lightbox" href="/img/advisory/gallery-14.gif">
                                <img src="/img/advisory/gallery-14.gif" class="img-fluid" alt=""></a>
                            <span class="names"><strong>Paul Crook</strong></span><br>
                            <span class="post">Team Leader Crook Consults</span>
                        </div>
                        <div class="swiper-slide"><a class="gallery-lightbox" href="/img/advisory/gallery-15.gif">
                                <img src="/img/advisory/gallery-15.gif" class="img-fluid" alt=""></a>
                            <span class="names"><strong>Prof. Robin Kibuka</strong></span><br>
                            <span class="post">Board Chairman Standard Chartered Bank</span>
                        </div>
                        <div class="swiper-slide"><a class="gallery-lightbox" href="/img/advisory/gallery-3.gif">
                                <img src="/img/advisory/gallery-3.gif" class="img-fluid" alt=""></a>
                            <span class="names"><strong>Andre Heeg</strong></span><br>
                            <span class="post">Managing director BCG Digital Ventures</span>
                        </div>
                        <div class="swiper-slide"><a class="gallery-lightbox" href="/img/advisory/gallery-4.gif">
                                <img src="/img/advisory/gallery-4.gif" class="img-fluid" alt=""></a>
                            <span class="names"><strong>Barry Shier</strong></span><br>
                            <span>Founder Giant Health Innovations & Marketing</span>
                        </div>
                        <div class="swiper-slide"><a class="gallery-lightbox" href="/img/advisory/gallery-5.gif">
                                <img src="/img/advisory/gallery-5.gif" class="img-fluid" alt=""></a>
                            <span class="names"><strong>Christian Wamambe</strong></span><br>
                            <span class="post">Chief Operations Chap Chap Africa </span>
                        </div>
                        <div class="swiper-slide"><a class="gallery-lightbox" href="/img/advisory/gallery-9.gif">
                                <img src="/img/advisory/gallery-9.gif" class="img-fluid" alt=""></a>
                            <span class="names"><strong>Isabelle Magnin</strong></span><br>
                            <span class="post">Corporate Innovator, USA, global health experience</span>
                        </div>

                        <div class="swiper-slide"><a class="gallery-lightbox" href="/img/advisory/gallery-8.gif">
                                <img src="/img/advisory/gallery-8.gif" class="img-fluid" alt=""></a>
                            <span class="names"><strong>Bright Asiimwe</strong></span><br>
                            <span class="post">Multi-Country M & E Lead| Craft E. Africa</span>
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Gallery Section -->

        <!-- ======= partners Section ======= -->
        <section id="clients" class="clients">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Past & Present Partners</h2>
                </div>

                <div class="clients-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide"> <a href='https://ciu.ac.ug/' target="_blank">
                                <img src="/img/clients/client-5.png" width="170px" alt=""></a>
                        </div>

                        <div class="swiper-slide">
                            <a href="https://ug.usembassy.gov/" target="_blank">
                                <img src="/img/clients/client-2.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://www.ablestate.co/" target="_blank">
                                <img src="/img/clients/client-3.jpg" width="170px" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://www.simprints.com/" target="_blank">
                                <img src="/img/clients/client-4.png" width="170px" alt=""></a>
                        </div>
                        <div class="swiper-slide"> <a href="https://fvital.tech/en" target="_blank"><img
                                    src="/img/clients/client-7.png" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide">
                            <a href="https://www.jica.go.jp/english/" target="_blank">
                                <img width="200" src="/img/clients/client-8.jpg" width="170px" alt="">
                            </a>

                        </div>
                        <div class="swiper-slide">
                            <a href="https://en.crossfields.jp/" target="_blank">
                                <img src="/img/clients/client-9.png" class="img-fluid" alt="">
                            </a>

                        </div>

                        <div class="swiper-slide">
                            <a href="https://actrustfoundation.org/" target="_blank">
                                <img src="/img/clients/client-11.png" width="170px" alt="">
                            </a>

                        </div>
                        <div class="swiper-slide"><img src="/img/clients/client-12.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </section>


        </section>
        <section id="cta" class="cta">
            <div class="container" data-aos="fade-in">

                <div class="text-center">
                    <h3>Are you interested in our work?</h3>
                    <p> We invite you to join us to form stronger partnerships and achieve a bigger vision together</p>
                    <a class="getstarted--products" href="./contact.html"> <span>Get in touch</span></a>
                </div>

            </div>
        </section><!-- End Cta Section -->

    </main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>MobiKlinic Uganda</h3>
                    <p class="description">
                        We are a team of professionals passionate about the right to health. We are revolutionizing
                        last-mile
                        health delivery so
                        as to achieve health equity by democratization and decentralization of health care using a
                        fusion of
                        physical and
                        digital means
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About us</a></li>
                        <li><a href="/contact">Contact us</a></li>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="/privacy" target="_blank">Privacy
                                policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Plot 257 <br>
                        Mawanda Road<br>
                        Kampala, Uganda <br>
                        <strong>Phone:</strong> (+256) 700 218 686<br>
                        <strong>Email:</strong> admin@mobiklinic.com<br>
                    </p>

                    <div class="social-links">
                        <a href="https://mobile.twitter.com/klinicuganda" class="twitter" target="_blank"
                            rel=”noopener”><i class="bi bi-twitter"></i></a>
                        <a href="https://www.facebook.com/mobiklinicUganda/" class="facebook" target="_blank"
                            rel=”noopener”><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/mobiklinic/" class="instagram" target="_blank"
                            rel=”noopener”><i class="bi bi-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/mobiklinic/about/" class="linkedin" target="_blank"
                            rel=”noopener”><i class="bi bi-linkedin"></i></a>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>Our reports</h4>
                    <p>
                        Find more in our yearly report.
                        <a href="#" target="_blank">Find here</a>
                    </p>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>MobiKlinic Uganda
                    <script>document.write(new Date().getFullYear())</script>
                </span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/serenity-bootstrap-corporate-template/ -->
        </div>
    </div>
</footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/purecounter/purecounter_vanilla.js"></script>
    <script src="/aos/aos.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/glightbox/js/glightbox.min.js"></script>
    <script src="/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/swiper/swiper-bundle.min.js"></script>
    <script src="/waypoints/noframework.waypoints.js"></script>
    <script src="/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>

</body>

</html>