<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Team | MobiKlinic Uganda</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.ico" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/aos/aos.css" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">


</head>

<body>
  <!-- ======= Header ======= -->
     
  <header id="header" class="fixed-top d-flex align-items-center">

    </div>
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <h1 class="text-light"><a href="/"><img src="/img/mobiKlinic.png"></a></h1>
      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Who we are</a></li>
          <li class="dropdown"><a href="#"><span>What we do</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/about">About</a> </li>
              <li><a href='img/Mobiklinic 2022 Annual Report.pdf.pdf' target="_blank">2022 Report</a></li>
              <li><a class="active" href="/team">Team</a></li>
              <li><a href="/board/advisory">Advisory</a></li>
              <li><a href="/board/non-executives">Non-Executives</a></li>
            </ul>
          </li>
          <li><a href="/contact">Get in touch</a></li>
                    <li><a href="/blog">Blog</a></li>
          <li><a href="/frequently-asked-questions">FAQs</a> </li>

          <li><a class="mobiklearn" target="_blank" href="https://mobiklearn.com/"><span>Mobiklearn
              </span></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Team</h2>
            <p>
              We are a team with diverse professional background and similar zeal, committment and passion
              to ease healthcare access for all.
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="/">Home</a></li>
          <li>Our Team</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="/img/team/team-1.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Andrew Ddembe</h4>
                <span>Chief Executive Officer</span>
                <p>
                  Writer, Philanthropist, Enteprenuer Innovator and Founder & Co-director Mobiklinic
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/img/team/team-2.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Barbara Nabigambo</h4>
                <span>CO-FOUNDER & ACCOUNTANT</span>
                <p>
                  Co-Director and accountant with over 5 years in banking, accounting and finance
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="/img/team/Mathew-Murungi.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Patience Ngategize</h4>
                <span> Chief Operating Officer </span>
                <p>
                  Public Health professional interested in bettering the health of people in different communities
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/img/team/team-8.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Wasike Martin</h4>
                <span>Chief Finance Officer</span>
                <p>
                  Principal accounting with keen eyes on banking, accounting and finance.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="/img/team/team-3.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Ibrahim Mutyaba</h4>
                <span>Foundations Lead </span>
                <p>
                  Medical Clinical Officer - overseeing training of Community Health Providers and app usage.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="/img/team/team-4.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Naggayi Daphne Pearl</h4>
                <span>Software Engineer</span>
                <p>
                  An enthusiast of Digital health, passionate about developing user friendly digital solutions
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/img/team/team-5.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Fredrick Okori</h4>
                <span>Software Engineer & Digital Literacy Trainer</span>
                <p>
                  Using medical & software skills to deliver solutions for the digital-health environment
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="/img/team/team-6.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Alaphat Magezi</h4>
                <span>Software Engineer </span>
                <p>
                  A talented Software Engineer with a passion for innovation and a track record of delivering robust,
                  cutting-edge solutions.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="/img/team/team-7.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Aaron Sempa</h4>
                <span>Partnerships Lead</span>
                <p>
                  Public Health Professional with experience in high level support roles in Public Health
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/img/team/David-Wampamba.gif" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>David Wampamba</h4>
                <span>Lead - Software Engineer</span>
                <p>
                  Passionate about creating a collaborative software solutions while giving high level IT consultancy
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/img/team/Mary-Ssenyonga.gif" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Mary Ssenyonga</h4>
                <span>Co-director & CHP</span>
                <p>
                  Co-director and Community Health Provider with over 35 years in community Nursing.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/img/team/Claire-Waita.gif" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Claire Waita</h4>
                <span>Head - Marketing</span>
                <p>
                  Experienced marketing officer
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/img/team/Justine-Mugabi.gif" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Justine Mugabi</h4>
                <span>Deputy Head of CHPs</span>
                <p>
                  Head of Makonge Health Center with over 20 years experience in
                  Community Health Systems
                </p>
              </div>
            </div>
          </div>



        </div>



      </div>
    </section>
    <!-- End Team Section -->
  </main><!-- End #main -->
  <!-- ======= partners Section ======= -->
  <section id="clients" class="clients">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Past & Present Partners</h2>
      </div>

      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"> <a href='https://ciu.ac.ug/' target="_blank">
              <img src="/img/clients/client-5.png" width="170px" alt=""></a>
          </div>

          <div class="swiper-slide">
            <a href="https://ug.usembassy.gov/" target="_blank">
              <img src="/img/clients/client-2.jpg" class="img-fluid" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="https://www.ablestate.co/" target="_blank">
              <img src="/img/clients/client-3.jpg" width="170px" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="https://www.simprints.com/" target="_blank">
              <img src="/img/clients/client-4.png" width="170px" alt=""></a>
          </div>
          <div class="swiper-slide"> <a href="https://fvital.tech/en" target="_blank"><img
                src="/img/clients/client-7.png" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide">
            <a href="https://www.jica.go.jp/english/" target="_blank">
              <img width="200" src="/img/clients/client-8.jpg" width="170px" alt="">
            </a>

          </div>
          <div class="swiper-slide">
            <a href="https://en.crossfields.jp/" target="_blank">
              <img src="/img/clients/client-9.png" class="img-fluid" alt="">
            </a>

          </div>

          <div class="swiper-slide">
            <a href="https://actrustfoundation.org/" target="_blank">
              <img src="/img/clients/client-11.png" width="170px" alt="">
            </a>

          </div>
          <div class="swiper-slide"><img src="/img/clients/client-12.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>

    </div>
  </section>


  </section>
  <section id="cta" class="cta">
    <div class="container" data-aos="fade-in">

      <div class="text-center">
        <h3>Are you interested in our work?</h3>
        <p> We invite you to join us to form stronger partnerships and achieve a bigger vision together</p>
        <a class="getstarted--products" href="./contact"> <span>Get in touch</span></a>
      </div>

    </div>
  </section><!-- End Cta Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>MobiKlinic Uganda</h3>
            <p class="description">
              We are a team of professionals passionate about the right to health. We are revolutionizing last-mile
              health delivery so
              as to achieve health equity by democratization and decentralization of health care using a fusion of
              physical and
              digital means
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="/contact">Contact us</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="/privacy" target="_blank">Privacy
                  policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Plot 257 <br>
              Mawanda Road<br>
              Kampala, Uganda <br>
              <strong>Phone:</strong> (+256) 700 218 686<br>
              <strong>Email:</strong> admin@mobiklinic.com<br>
            </p>

            <div class="social-links">
              <a href="https://mobile.twitter.com/klinicuganda" class="twitter" target="_blank" rel=”noopener”><i
                  class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/mobiklinicUganda/" class="facebook" target="_blank" rel=”noopener”><i
                  class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/mobiklinic/" class="instagram" target="_blank" rel=”noopener”><i
                  class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/company/mobiklinic/about/" class="linkedin" target="_blank"
                rel=”noopener”><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our reports</h4>
            <p>
              Find more in our yearly report.
              <a href="#" target="_blank">Find here</a>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>MobiKlinic Uganda
            <script>document.write(new Date().getFullYear())</script>
          </span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/serenity-bootstrap-corporate-template/ -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/purecounter/purecounter_vanilla.js"></script>
  <script src="/aos/aos.js"></script>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/glightbox/js/glightbox.min.js"></script>
  <script src="/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/swiper/swiper-bundle.min.js"></script>
  <script src="/waypoints/noframework.waypoints.js"></script>
  <script src="/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>